.reviewContainer {
  /* margin-top: 40px; */
  background-color: white;
}

.reviewHeaderTop {
  font-size: 17px;
}

.reviewHeaderBot {
  font-size: 17px;
}

.reviewContainer p {
  padding-bottom: 30px;
}

@media screen and (min-width: 680px) and (max-width: 1024px) {

  .reviewHeaderTop {
    font-size: 20px;
  }

  .reviewHeaderBot {
    font-size: 20px;
  }
}
