.reviewContainer {
  margin-top: 80px;
  padding-top: 30px;
  background-color: white;
}

.reviewHeaderTop {
  font-size: 15px;
}

.reviewHeaderBot {
  font-size: 15px;
  margin-bottom: 20px;
}

.reviewContainer p {
  padding-bottom: 30px;
}
