.reviewNav {
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  padding-top: 0px;
  height: 50px;
  font-size: 15px;
  color: white;
  background-color: #942317;
}

.imgHeader {
  margin-right: 5px;
}

.busName {
  margin-top: 18px;
  margin-left: 10px;
  margin-bottom: 18px;
  padding-left: 5px;
  font-size: 25px;
  text-align: center;
}

.postField {
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  width: 95%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
  font-family: inherit;
  border-color: black;
}

textarea placeholder {
  margin-top: 4px;
}

.review {
  display: flex;
  margin-left: 5px;
  height: 360px;
}

.postButton {
  padding: 5px;
  width: 50%;
  margin-top: 30px;
  border-color: black;
  border-width: thin;
  border-radius: 5px;
  color: white;
  background-color: #942317;
  margin-bottom: 40px;
}

.push {
  height: 134px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .postButton {
    width: 35%;
  }

}


@media screen and (min-width: 550px) and (max-width: 768px) {

  .postField {
    margin-left: 15%;
    margin-right: 15%;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .postField {
    margin-left: 20%;
    margin-right: 20%;
  }

  .postButton {
    width: 25%;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

  .postField {
    margin-left: 25%;
    margin-right: 25%;
  }

  .postButton {
    width: 20%;
  }

}
