.discoverContainer {
  padding-top: 65px;
}

.discoverHeader {
  font-size: 17px;
  /* margin-bottom: 20px; */
}

.discoverHeaderBot {
  font-size: 17px;
  margin-bottom: 20px;
}

.discoverContainer p {
  padding-bottom: 30px;
}

.reviewImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 183px;
  margin-left: 20px;
  margin-bottom: 25px;
  display: block;
}
