.discoverContainer {
  /* padding-top: 65px; */
  padding-top: 8%;
}

.discoverHeader {
  font-size: 17px;
}

.discoverHeaderBot {
  font-size: 17px;
  /* margin-bottom: 20px; */
}

.discoverContainer p {
  padding-bottom: 30px;
}

.reviewImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  max-width: 100%;
  padding: 8%;
}

@media screen and (min-width: 680px) and (max-width: 1440px) {

  /* .discoverContainer {
    padding-top: 75px;
  } */

  .discoverHeader {
    font-size: 20px;
  }

  .discoverHeaderBot {
    font-size: 20px;
  }

}

@media screen and (min-width: 680px) and (max-width: 1440px) {

  /* .discoverContainer {
    padding-top: 85px;
  } */

}
