.navBarLanding {
  height: 40px;
  padding-top: 13px;
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: #942317;
}

.loginSpace {
  margin-right: 12px;
  float: right;
}

.logoNav {
  float: left;
  height: 27px;
  margin-top: -6px;
  margin-left: 8px;
}

.navBarLanding a {
  text-decoration: none;
  color: white;
}
