.navBarLanding {
  height: 50px;
  padding-top: 15px;
  /* position: fixed; */
  width: 100%;
  margin: 0;
  background-color: #942317;
}

.loginSpace {
  margin-right: 20px;
  font-size: 15px;
  float: right;
}

.logoNav {
  float: left;
  height: 30px;
  margin-top: -3px;
  margin-left: 13px;
}

.navBarLanding a {
  text-decoration: none;
  color: white;
}
