.bg {
  background-image: url("../../images/BackgroundHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
}

.centerLogo {
  padding-top: 38%;
}

.whiteBg {
  background-color: rgba(229, 231, 233, 0.7);
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 8px;
  padding-top: 10px;
}

.logoImg {
  height: 28px;
  margin-top: 11px;
  margin-bottom: -6px;
}

.centerLogo h1 {
  display: inline;
  font-size: 20px;
  margin-left: 2px;
}

.searchBar {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

.searchBar label {
  padding-right: 5px;
  display: block;
  font-weight: bold;
}

.beverageInput, .locationInput, .searchSubmitBtn, .dropDown {
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 6px;
  width: 95%;
  border-color: black;
  border-width: thin;
  border-radius: 5px;
}

.searchSubmitBtn {
  margin-top: 5px;
  color: white;
  background-color: #942317;
}
