.bg {
  background-image: url("../../images/BackgroundHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  background-position: center;
}

.centerLogo {
  position: relative;
  top: 20%;
  bottom: 30%;
}

.whiteBg {
  background-color: rgba(229, 231, 233, 0.7);
  border-radius: 15px;
  height: 231px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 8px;
  padding-top: 15px;
}

.logoImg {
  height: 28px;
  margin-top: 11px;
  margin-bottom: -6px;
}

.centerLogo h1 {
  display: inline;
  font-size: 20px;
  margin-left: 2px;
}

.searchBar {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}

.searchBar label {
  padding-right: 5px;
  display: block;
}

.beverageInput, .locationInput, .searchSubmitBtn, .dropDown {
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 6px;
  width: 95%;
  border-color: black;
  border-width: thin;
  border-radius: 5px;
}

.searchSubmitBtn {
  margin-top: 5px;
  color: white;
  background-color: #942317;
}

/*    MEDIA QUERIES    */

@media screen and (min-width: 670px) and (max-width: 1440px) {

  .whiteBg {
    margin-left: 18%;
    margin-right: 18%;
  }

  .beverageInput, .locationInput, .searchSubmitBtn, .dropDown {
    width: 75%;
  }

}

@media screen and (min-width: 769px) and (max-width: 1440px) {

  .whiteBg {
    margin-left: 20%;
    margin-right: 20%;
  }

}
